.container{
    width: 70vw;
    max-width: 70vw;
    margin: 25vh 15vw 0vh 15vw;
    padding: 0;
    height: auto;
    display: flex;
    flex-direction: column;
}

.listContainer{
    width: 100%;
    max-width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    list-style: none;
    margin: 0%;
    padding: 0%;
}