.container{
    width: 70vw;
    max-width: 70vw;
    margin: 25vh 15vw 15vh 15vw;
    padding: 0;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.frame{
    width: auto;
    max-width: 100%;
    height: auto;
    max-height: 100%;
}